
.button-burger{
    font-size:30px;
    cursor:pointer;
    display: none;
}
.closebtn{
    display: none;
}
@media screen and (max-width: 1024px){
    .button-burger{
        display: block;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        /*background-color: #111;*/
        background: url("../res/img/bg-wood.png") repeat;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        display: block;
    }
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}