.description{
    padding: 5px;
}
.remote-btns>a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 16px;
}
.header-article>a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 16px;
}
.remote-btns>a:hover{
    background-color: grey;
    transition: all 0.3s;
}
.article-remote-btn{
    background: darkgrey;
    margin-left: 15px;
    padding: 5px;
}
.remote-btns{
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
}
.article{
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 25px;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article-pic{
    width: 50%;
    min-width: 250px;
}
.header-article,.footer-article{
    /*background: url("../res/img/bg-hedaer.jpg") repeat;*/
    background: darkgrey;
    padding: 15px;
    width: 100%;
    color: white;
    height: fit-content;
    text-decoration: none;
    font-size: 12px;
}
.header-article{
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-article{
    margin-top: 25px;
}
.content-article{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content-article>*{
    margin-top: 25px;
}
.footer-article{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}