*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'main-menu';
    src: url('../../res/fonts/main-menu.eot');
    src: local('☺'), url('../../res/fonts/main-menu.woff') format('woff'), url('../../res/fonts/main-menu.ttf') format('truetype'), url('../../res/fonts/main-menu.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: "main-menu";
    background: url("../../res/img/bg.png") repeat;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form>*{
    margin-top: 15px;
}
form{
    padding: 20px;
    height: fit-content;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url("../../res/img/bg-hedaer.jpg") repeat;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}
input{
    font-family: "main-menu";
    /*background-color: #858585;*/
    background: url("../../res/img/bg-button.jpg") repeat;
    padding: 15px;
    outline: none;
    color: white;
    border: 2px ridge white;
}
.button{
    font-family: "main-menu";
    /*background: #808080;*/
    background: url("../../res/img/custom-btn.png") repeat;
    border: 2px ridge black;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    font-size: 12px;
    color: white;
    margin-left: 5px;
}
.button:active{
    background: #808080;
}
label{
    padding-left: 15px;
    color: white;
}
.msg-bad{
    background-color: #ff887c;
    border: 2px solid red;
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    color: red;
}
.msg-good{
    background-color: #60a960;
    border: 2px solid green;
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    color: green;
}
h3{
    color: white;
}